.rating
    span.rating__item
        +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
    span.rating__item
        +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
    span.rating__item
        +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
    span.rating__item
        +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
    span.rating__item
        +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')