@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.layout {
  max-width: 1260px;
  width: calc(100% - 30px);
  @include margin-auto;
  //padding-left: 15px;
  //padding-right: 15px;
}

.layout--large {
  max-width: 1260px;
  width: calc(100% - 30px);
  //width: 100%;
  @include margin-auto;
  //padding-left: 15px;
  //padding-right: 15px;
  padding-left: 0px;
  padding-right: 0px;
}

.layout-small {
  max-width: 1230px;
  @include margin-auto;
  padding-left: 15px;
  padding-right: 15px;
}