label.radio-button
    input.radio-button__input(type="radio" name="radio" checked="checked" required="")
    .radio-button__text
        .radio-button__status
        p Radio 1

label.radio-item
    input.radio-item__input(type="radio" name="radio" checked="checked" required="")
    .radio-item__status
        p Radio 1

label.checkbox-button
    input.checkbox-button__input(type="checkbox" checked="checked" required="")
    .checkbox-button__text
        .checkbox-button__status
        p Checkbox 1

label.checkbox-item
    input.checkbox-item__input(type="checkbox" checked="checked" required="")
    .checkbox-item__status
        p Checkbox 1