.testimonials
    .testimonials__wrapper
        .testimonials__main
            .testimonials__title Отзывы
            .testimonials__item-wrapper
                .testimonials__item
                    .testimonials__name Екатерина
                    .testimonials__info
                        .testimonials__date 19 Февраля 2021
                        .rating.testimonials__rating
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                    .testimonials__desc
                        p Пазл изумительный! Дочка 7 лет собрала с удовольствием и без труда, а вот дочь 4 года старается изо всех сил!) Спасибо производителю за качество, внимание к деталям и за подарок внутри! Уже заказали ещё 4 штуки. Будем собирать коллекцию!

                .testimonials__item
                    .testimonials__name Екатерина
                    .testimonials__info
                        .testimonials__date 19 Февраля 2021
                        .rating.testimonials__rating
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                            span.rating__item
                                +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                    .testimonials__desc
                        p Пазл изумительный! Дочка 7 лет собрала с удовольствием и без труда, а вот дочь 4 года старается изо всех сил!) Спасибо производителю за качество, внимание к деталям и за подарок внутри! Уже заказали ещё 4 штуки. Будем собирать коллекцию!

        .testimonials__feedback
            .testimonials__feedback-title Собрали набор? #[br] Оставьте свою оценку, для нас это важно
            .testimonials__feedback-rating.rating
                span.rating__item
                    +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                span.rating__item
                    +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                span.rating__item
                    +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                span.rating__item
                    +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
                span.rating__item
                    +iconSvg('14', '13', '0 0 14 13', 'rating__item-star')
            a(href="#").button.button--blue-large.testimonials__button-feedback Написать отзыв