mixin productOrder(src, name)
    a(href="#").product-order
        .product-order__image-wrapper
            img(src=src).product-order__image
        .product-order__info
            .product-order__name= name
            .product-order__price 2 300 ₽
            .product-order__quantity 1 шт