.header-catalog
    .layout.header-catalog__layout
        .header-catalog__collection-big
            .header-catalog__item.header-catalog__item--big(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-1.jpg)")
                .header-catalog__item-title Авторские #[br] коллекции пазлов
                ul.header-catalog__list
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N1
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N2
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N3
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N4
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N5
                    li.header-catalog__list-li
                        a(href="#").header-catalog__list-link Коллекция N6

            a(href="#").header-catalog__item.header-catalog__item--big(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-2.jpg)")
                span Соберите всю Коллекцию и получите #[br] Гранд - набор «Коллекционер» в подарок



        .header-catalog__collection-small
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").header-catalog__item.header-catalog__item--small(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"