.banner(style="background: url(src/blocks/banner/assets/img/banner.jpg)")
    .banner__content
        .banner__title Соберите всю Коллекцию #[br] и получите Гранд-набор «Коллекционер» в подарок
        .banner__button-wrapper
            a(href="#").button.button--brown-border Подробнее
        a(href="#").banner__link Подробнее о наборе «Коллекционер»