.pagination
    a(href="#").pagination__prev
        +iconSvg('8', '14', '', 'icon__arrow-slide')
    .pagination__counters
        a(href="#").pagination__counter-link 1
        a(href="#").pagination__counter-link 2
        a(href="#").pagination__counter-link 3
        span.pagination__counter-current 4
        a(href="#").pagination__counter-link 5
        a(href="#").pagination__counter-link ...
        a(href="#").pagination__counter-link 10
    a(href="#").pagination__next
        +iconSvg('8', '14', '', 'icon__arrow-slide')