.catalog-banner
    +img('src/blocks/catalog-banner/assets/img/horse-image.svg', "catalog-banner__image", altImg)
    .catalog-banner__text
        p Бесплатно доставим до пункта выдачи при заказе от 4 000 ₽
    .catalog-banner__button
        a(href="#").button.button--white-border Подробнее