@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$headingTitle: '.heading__title';
$headingDesc: '.heading__desc';

.heading {
  margin-bottom: 30px;

  &--no-offset {
    margin-bottom: 0;
  }

  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &__flex-wrapper {

  }

  #{$headingTitle} {
    font: 30px/42px $fm;
    letter-spacing: -.03em;
    margin: 14px 0;

    &--ofsset-bottom {
      margin-top: 0;
      margin-bottom: 14px;
    }

    &--border {
      display: inline-block;
      border-bottom: 1px solid #c4c4c4;
    }

    &--inside {
      font: 24px/34px $fm;
    }

  }

  &__desc {
    font: 13px/18px $fm;
    color: #1b1b1b;
  }

  &--color-white {
    color: #fff;

    #{$headingTitle} {
      display: inline-block;
      border-bottom: 1px solid #fff;
    }

    #{$headingDesc} {
      color: #fff;
    }
  }

  &--color-brown {
    color: #b58b57;

    #{$headingTitle} {
      display: inline-block;
      border-bottom: 1px solid rgba(181, 139, 87, .3);
    }

    #{$headingDesc} {
      color: #b58b57;
    }
  }

}
