.instagram.instagram--default-offset
    .layout
        .instagram__logo.instagram__logo--center
            a(href="#").logo
                img(src="images/logo.svg" alt="").logo__image
        .instagram__gallery
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram1.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram2.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram3.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram4.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram5.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram6.jpg)").instagram__gallery-item
            a(href="#" style="background-image: url(src/blocks/instagram/assets/img/instagram7.jpg)").instagram__gallery-item
