.mobile-menu
    .layout
        .mobile-menu__wrapper
            .mobile-menu__search
                form.header__search
                    input(type="text" placeholder="Поиск").header__search-input.header__search-input--blue
                    button.header__search-button.header__search-button--blue.
                        <svg id="search" viewBox="0 0 20 20"> <path fill="#015684" clip-rule="evenodd" d="M14.676 13.1344C17.1274 9.92933 16.8874 5.32581 13.9561 2.39449C10.7635 -0.798164 5.58715 -0.798164 2.39449 2.39449C-0.798164 5.58715 -0.798164 10.7635 2.39449 13.9561C5.32581 16.8874 9.92933 17.1274 13.1344 14.676L18.4585 20L20 18.4585L14.676 13.1344ZM12.4146 3.93604C14.7558 6.27732 14.7558 10.0733 12.4146 12.4146C10.0733 14.7558 6.27732 14.7558 3.93604 12.4146C1.59476 10.0733 1.59476 6.27732 3.93604 3.93604C6.27732 1.59476 10.0733 1.59476 12.4146 3.93604Z"></path> </svg>

            .mobile-menu__list
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-city Москва
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link Избранное
                .mobile-menu__list-item
                    a(href="#").mobile-menu__sub-link Каталог
                    .mobile-menu__sub-menu
                        .mobile-menu__sub-back Back
                        .mobile-menu__catalog
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"
                            .mobile-menu__catalog-col
                                a(href="#").mobile-menu__catalog-item(style="background-image: url(src/blocks/header-catalog/assets/img/catalog-image-3.jpg)")
                                    span Коллекция "Наследие"

                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link Акции
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link Где купить
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link О компании
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link Отзывы
                .mobile-menu__list-item
                    a(href="#").mobile-menu__list-link Корпоративные подарки
                .mobile-menu__list-item
                    a(href="#").mobile-menu__sub-link Как купить
                    .mobile-menu__sub-menu
                        .mobile-menu__sub-back Back
                        .mobile-menu__sub-list
                            a(href="#").mobile-menu__list-link Как купить
                            a(href="#").mobile-menu__list-link Как оформить заказ
                            a(href="#").mobile-menu__list-link Доставка и оплата
                            a(href="#").mobile-menu__list-link Гарантии и обмен
                            a(href="#").mobile-menu__list-link Стать партнёром


            .mobile-menu__contact
                .mobile-menu__contact-inner
                    a(href="tel:88000000000").mobile-menu__phone-link 8 800 000 00 00
                    a(href="mailto:mail@mail.com").mobile-menu__mail-link mail@mail.com
                .mobile-menu__social
                    .mobile-menu__social-list
                        a(href="#").mobile-menu__social-link
                            img(src="src/blocks/social-menu/assets/img/icon-vk--blue.svg")
                        a(href="#").mobile-menu__social-link
                            img(src="src/blocks/social-menu/assets/img/icon-facebook--blue.svg")
                        a(href="#").mobile-menu__social-link
                            img(src="src/blocks/social-menu/assets/img/icon-instagram--blue.svg")
                        a(href="#").mobile-menu__social-link
                            img(src="src/blocks/social-menu/assets/img/icon-youtube--blue.svg")