footer.footer

    .footer-head
        .container
            .row
                .col-xl-3.col-lg-2
                    a(href="#").footer-logo
                        img(src="images/footer-logo.svg").footer-logo__image
                .col-xl-7.col-lg-7
                    ul.footer-menu
                        li
                            a(href="#") Patients
                        li
                            a(href="#") Therapists
                        li
                            a(href="#") About Us
                        li
                            a(href="#") Resources
                        li
                            a(href="#") Contact Us
                .col-xl-2.col-lg-3
                    .footer__socials
                        include ../social-link/social-link
    .footer-foot

        .footer-background
            .container
                .footer-background__shadow

        .footer-content.container
            .row
                .col-xl-3.col-lg-3
                    ul.footer-foot__menu
                        li
                            a(href="#") Depression
                        li
                            a(href="#") Anxiety
                        li
                            a(href="#") Grief
                        li
                            a(href="#") Stress
                        li
                            a(href="#") Substance abuse disorder
                .col-xl-3.col-lg-3
                    ul.footer-foot__menu
                        li
                            a(href="#") Postpartum depression & anxiety
                        li
                            a(href="#") Eating disorder
                        li
                            a(href="#") Bipolar disorder
                        li
                            a(href="#") Obsessive compulsive disorder
                        li
                            a(href="#") Borderline personality disorder
                .col-xl-3.col-lg-3
                    ul.footer-foot__menu
                        li
                            a(href="#") Post traumatic stress disorder
                        li
                            a(href="#") ADHD
                        li
                            a(href="#") Psychosis / Schizophrenia

                .col-xl-3.col-lg-3
                    .footer-address
                        .footer-address__item
                            p Phone: 1-855-241-3325
                            p Fax: 905-418-0267
                        .footer-address__item
                            p 180 Steeles Av. West, Units 7 and 8
                            p Thornhill, Ontario L4J 2L1

                    .footer-form--wrapper
                        .footer-form__title Join our newsletter
                        form.footer-form
                            input(type="mail" placeholder="Email address")
                            button
                                +iconSvg('16', '8', '0 0 16 8', 'icon-send')


        .footer-copy.container
            .row
                .col-xl-4.col-lg-4.order-lg-1.order-1
                    .footer-copy__text Copyright © 2020
                    ul.footer-copy__menu
                        li
                            a(href="#").link-border Privacy Pocicy
                        li
                            a(href="#").link-border Term of use

                .col-xl-4.col-lg-4.order-lg-2.order-3
                    .footer-copy__button
                        a(href="#").button.button--empty.button--empty-small Feedback
                .col-xl-4.col-lg-4.order-lg-3.order-2
                    .footer-copy__desc
                        p Website design by #[a(href="#").link-border Convergine]
                        p Information about the #[a(href="#").link-border website]