footer.footer
    .layout

        .footer__wrapper
            .footer__content-wrapper
                .footer__sidebar
                    h3.footer__sidebar-title
                        a(href="#").footer__sidebar-link Каталог пазлов
                    ul.footer__menu
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N1
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N2
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N3
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N4
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N5
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция N6
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция "Наследие"
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция MINI
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция DAVICI Детям
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция "Знаки зодиака"
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Коллекция "Эрмитаж"
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Лимитированная коллекция
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Аксессуары
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Подарочные сертификаты
                .footer__sidebar
                    h3.footer__sidebar-title
                        a(href="#").footer__sidebar-link Каталог пазлов
                    ul.footer__menu
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Акции
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Где купить
                        li.footer__menu-list
                            a.footer__menu-link(href="#") О компании
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Отзывы
                        li.footer__menu-list
                            a.footer__menu-link(href="#") Корпоративные подарки
            .footer__information
                .footer__contacts
                    a(href="tel:8 800 000 00 00").footer__contact-phone 8 800 000 00 00
                    a(href="mailto:mail@mail.com").footer__contact-mail mail@mail.com
                .social-menu.social-menu--border
                    a(href="#").social-menu__link
                        img(src="src/blocks/social-menu/assets/img/icon-facebook.svg").social__image
                    a(href="#").social-menu__link
                        img(src="src/blocks/social-menu/assets/img/icon-vk.svg").social__image
                    a(href="#").social-menu__link
                        img(src="src/blocks/social-menu/assets/img/icon-instagram.svg").social__image
                    a(href="#").social-menu__link
                        img(src="src/blocks/social-menu/assets/img/icon-youtube.svg").social__image
                .footer__copy.footer__copy--mobile-hide
                    .footer__copy-text © Puzzle. 644031, Москва, Звездова, 129
                    .footer__copy-text ООО «Puzzle»
                    .footer__copy-text ИНН: 7777149200, ОГРН: 1175543027788
                    a(href="#").footer__copy-link Политика конфиденциальности
                    br
                    a(href="#").footer__copy-link Пользовательское соглашение

            .footer__mobile
                .footer__copy
                    .footer__copy-text © Puzzle. 644031, Москва, Звездова, 129
                    .footer__copy-text ООО «Puzzle»
                    .footer__copy-text ИНН: 7777149200, ОГРН: 1175543027788
                    a(href="#").footer__copy-link Политика конфиденциальности
                    br
                    a(href="#").footer__copy-link Пользовательское соглашение

        .footer__background
            .layout
                .footer__background-wrapper
                    img(src="src/blocks/footer/assets/img/footer-background.png").footer__background-image