@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.footer {
  position: relative;
  color: #FFFFFF;
  background: #1b1b1b;

  padding-top: 43px;
  padding-bottom: 48px;

  @include mobile-big-screen {
    padding-bottom: 0;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 100;
    @include mobile-big-screen {
      flex-direction: column;
    }
  }

  &__content-wrapper {
    display: flex;
    @include mobile-big-screen {
      order: 2;
    }
  }

  &__information {
    @include mobile-big-screen {
      order: 1;
      text-align: center;
      margin-bottom: 30px;
    }
  }

  // Background

  &__background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    @include table-large-screen {
      display: none;
    }
    @include mobile-big-screen {
      display: block;
      position: relative;
    }

    &-wrapper {
      font-size: 0;
      text-align: center;
      padding-left: 8.34%;
      @include mobile-big-screen {
        padding-left: 0;
        padding-top: 14px;
      }
    }

    &-image {
      @include mobile-big-screen {
        max-width: 100%;
      }
    }
  }

  // Sidebar

  &__sidebar {
    &:not(:last-child) {
      margin-right: 55px;
    }
  }

  &__sidebar-title {
    font-family: $fr;
    font-size: 17px;
    line-height: 20px;
    font-weight: normal;
    color: #fff;
    padding: 4px 0;
  }

  &__sidebar-link {
    position: relative;
    font-family: $fr;
    font-size: 17px;
    line-height: 20px;
    color: #fff;

    &:hover:before {
      opacity: 1;
      visibility: visible;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #fff;
      @include trn(.15s);
      opacity: 0;
      visibility: hidden;
    }
  }

  // Menu

  &__menu {
    &-list {
      padding: 4px 0;
    }

    &-link {
      position: relative;
      color: #fff;
      font: 13px/18px $fr;
      text-decoration: none;
      opacity: .7;
      letter-spacing: -.03em;

      &:hover:before {
        opacity: 1;
        visibility: visible;
      }

      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        content: '';
        width: 100%;
        height: 1px;
        background: #fff;
        @include trn(.15s);
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  // Contact

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 17px;
    @include mobile-big-screen {
      align-items: center;
    }
  }

  &__contact-phone {
    position: relative;
    font: 26px $fm;
    letter-spacing: -.03em;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;

    &:hover {
      &:before {
        opacity: 1;
        visibility: visible;
      }
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      @include trn(.15s);
    }
  }

  &__contact-mail {
    position: relative;
    font-family: $fm;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: #fff;
      opacity: 0;
      visibility: hidden;
      @include trn(.15s);
    }

    &:hover:before {
      opacity: 1;
      visibility: visible;
    }
  }

  &__copy {
    font-size: 13px;
    font-family: $fr;
    color: rgba(255, 255, 255, .5);
    margin-top: 33px;

    &--mobile-hide {
      @include mobile-big-screen {
        display: none;
      }
    }
  }

  &__copy-text {

  }

  &__copy-link {
    position: relative;
    display: inline-block;
    font-size: 13px;
    font-family: $fr;
    color: rgba(255, 255, 255, .5);
    text-decoration: none;

    &:hover:before {
      opacity: 1;
      visibility: visible;
    }

    &:before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      width: 100%;
      height: 1px;
      background: rgba(255, 255, 255, .5);
      opacity: 0;
      visibility: hidden;
      @include trn(.15s);
    }

  }

  &__mobile {
    display: none;
    @include mobile-big-screen {
      display: block;
      order: 3;
    }
  }

}