@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.catalog {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;

    @media (max-width: 854px) {
      margin: 0 -15px;
      padding: 0 15px;
      overflow-x: auto;
    }

    &--no-offset {
      margin-bottom: 0;
    }
  }

  &__buttons {
    margin-top: 40px;
    text-align: center;
  }

}