.catalog-header
    .layout.catalog-header__layout
        .catalog-header__collection-big
            .catalog-header__item.catalog-header__item--big(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-1.jpg)")
                .catalog-header__item-title Авторские #[br] коллекции пазлов
                ul.catalog-header__list
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N1
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N2
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N3
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N4
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N5
                    li.catalog-header__list-li
                        a(href="#").catalog-header__list-link Коллекция N6

            a(href="#").catalog-header__item.catalog-header__item--big(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-2.jpg)")
                span Соберите всю Коллекцию и получите #[br] Гранд - набор «Коллекционер» в подарок



        .catalog-header__collection-small
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"
            a(href="#").catalog-header__item.catalog-header__item--small(style="background-image: url(src/blocks/catalog/assets/img/catalog-image-3.jpg)")
                span Коллекция "Наследие"