// Exemple

.tabs
    .tabs__list
        .tabs__list-item.tabs__list-item--active Коллекция N1
        .tabs__list-item Коллекция N2
        .tabs__list-item Коллекция N3
    .tabs__main
        .tabs__main-item Content 1
        .tabs__main-item Content 2
        .tabs__main-item Content 3