extends ../templates/main

block variables
    - var title = 'Puzzle'

block content
    include ../blocks/breadcrumbs/breadcrumbs
    main.main

        .section
            .layout
                .banner-preview.banner-preview--big
                    img(src="src/blocks/banner-preview/assets/img/banner-image.jpg").banner-preview__image
                    +iconSvg('68', '62', '', 'icon__banner-person')
                    +iconSvg('52', '77', '', 'icon__banner-giraffe')
                    .banner-preview__content
                        .banner-preview__desc Эти пазлы особенные — в них каждая деталь уникальна, а вместе они образуют неповторимый узор
                        .banner-preview__button-container
                            a(href="#").button.button--white Смотреть видео

        .breadcrumbs.breadcrumbs--default-offset
            .layout
                ul.breadcrumbs__lists
                    +listBreadcrumbs("Главная")
                    +listBreadcrumbs("Каталог", true)

        .catalog-main
            .layout
                .catalog-filter
                    form.catalog-filter__form
                        //.catalog-filter__item
                        //    label.radio-button
                        //        input.radio-button__input(type="radio" name="radio" checked="checked" required="")
                        //        .radio-button__text
                        //            .radio-button__status
                        //            p Radio 1
                        //.catalog-filter__item
                        //    label.radio-button
                        //        input.radio-button__input(type="radio" name="radio" checked="checked" required="")
                        //        .radio-button__text
                        //            .radio-button__status
                        //            p Radio 1
                        .catalog-filter__item
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" disabled="true" required="")
                                .checkbox-button__text
                                    .checkbox-button__status
                                    p Акция
                        .catalog-filter__item
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" checked="checked" required="")
                                .checkbox-button__text
                                    .checkbox-button__status
                                    p Для первой сборки
                        .catalog-filter__item
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" disabled="true" required="")
                                .checkbox-button__text
                                    .checkbox-button__status
                                    p Лидер рейтинга
                        .catalog-filter__item
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" required="")
                                .checkbox-button__text
                                    .checkbox-button__status
                                    p Новинка
                        .catalog-filter__item
                            label.checkbox-button
                                input.checkbox-button__input(type="checkbox" required="")
                                .checkbox-button__text
                                    .checkbox-button__status
                                    p Скидка недели