extends ../templates/main

block variables
    - var title = 'Puzzle'

block content
    main.main

        .layout

            .grids
                .grids__item
                    .content-box.content-box--el1 1
                .grids__item
                    .content-box.content-box--el2 2
                .grids__item
                    .content-box.content-box--el1 3
                .grids__item
                    .content-box.content-box--el3 4
                .grids__item
                    .content-box.content-box--el5 5
                .grids__item
                    .content-box.content-box--el4 6
                .grids__item
                    .content-box.content-box--el2 7
                .grids__item
                    .content-box.content-box--el5 8
                .grids__item
                    .content-box.content-box--el3 9
                .grids__item
                    .content-box.content-box--el1 10
                .grids__item
                    .content-box.content-box--el5 11
                .grids__item
                    .content-box.content-box--el4 12
                .grids__item
                    .content-box.content-box--el2 13
                .grids__item
                    .content-box.content-box--el5 14


        //.grids-567567
        //    .grids__dfgdfb
        //        .content-box.content-box--el1 1
        //    .grids__dfgdfb
        //        .content-box.content-box--el2 2
        //    .grids__dfgdfb
        //        .content-box.content-box--el1 3
        //    .grids__dfgdfb
        //        .content-box.content-box--el3 4

        include ../blocks/slider-main/slider-main
        .product-catalog.product-catalog--default-offset
            .layout
                .heading.heading--center
                    h2.heading__title.heading__title--border Авторские коллекции пазлов
                    p.heading__desc Создана специально для дошкольников и младших школьников, маленьких любознательных и пытливых искателей.

                .tabs
                    .tabs__toggle-buttons.tabs__toggle-buttons--el-1.product-catalog__tab-wrapper
                        .tabs__toggle-button.tabs__toggle-button--tab-link.tabs__toggle-button--active Коллекция N1
                        .tabs__toggle-button.tabs__toggle-button--tab-link Коллекция N2
                        .tabs__toggle-button.tabs__toggle-button--tab-link Коллекция N3
                    .tabs__toggle-items.tabs__toggle-items--el-1
                        .tabs__toggle-item.tabs__toggle-item--active
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()

                .product-catalog__buttons
                    a(href="#").button Посмотреть все наборы коллекции
                    a(href="#").button В каталог


        .product-catalog.product-catalog--small-offset.product-catalog--background-red
            .layout
                .heading.heading--color-white.heading--center
                    h2.heading__title Деревянные пазлы DAVICI — лучший подарок

                .tabs
                    .tabs__toggle-buttons.tabs__toggle-buttons--el-2
                        .tabs__toggle-button.tabs__toggle-button--tab-item.tabs__toggle-button--active Коллекция N1
                        .tabs__toggle-button.tabs__toggle-button--tab-item Коллекция N2
                        .tabs__toggle-button.tabs__toggle-button--tab-item Коллекция N3
                    .tabs__toggle-items.tabs__toggle-items--el-2
                        .tabs__toggle-item.tabs__toggle-item--active
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()

                //.tabs
                //    .tabs__toggle-buttons.tabs__toggle-buttons--el-2
                //        .tabs__toggle-button.tabs__toggle-button--active Коллекция N1
                //        .tabs__toggle-button Коллекция N2
                //        .tabs__toggle-button Коллекция N3
                //    .tabs__toggle-items.tabs__toggle-items--el-2
                //        .tabs__toggle-item.tabs__toggle-item--active Content 1
                //        .tabs__toggle-item Content 2
                //        .tabs__toggle-item Content 3

