extends ../templates/main

block variables
    - var title = 'Puzzle'

block content
    main.main

        .layout

            .masonry-grid
                .masonry-grid__item
                    .content-box 1
                .masonry-grid__item
                    .content-box 2
                .masonry-grid__item
                    .content-box 3
                .masonry-grid__item
                    .content-box 4
                .masonry-grid__item
                    .content-box 5
                .masonry-grid__item
                    .content-box 6
                .masonry-grid__item
                    .content-box 7
                .masonry-grid__item
                    .content-box 8
                .masonry-grid__item
                    .content-box 9
                .masonry-grid__item
                    .content-box 10
                .masonry-grid__item
                    .content-box 11


        include ../blocks/slider-main/slider-main
        .product-catalog.product-catalog--default-offset
            .layout
                .heading.heading--center
                    h2.heading__title.heading__title--border Авторские коллекции пазлов
                    p.heading__desc Создана специально для дошкольников и младших школьников, маленьких любознательных и пытливых искателей.

                .tabs
                    .tabs__toggle-buttons.tabs__toggle-buttons--el-1.product-catalog__tab-wrapper
                        .tabs__toggle-button.tabs__toggle-button--tab-link.tabs__toggle-button--active Коллекция N1
                        .tabs__toggle-button.tabs__toggle-button--tab-link Коллекция N2
                        .tabs__toggle-button.tabs__toggle-button--tab-link Коллекция N3
                    .tabs__toggle-items.tabs__toggle-items--el-1
                        .tabs__toggle-item.tabs__toggle-item--active
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            .product-catalog__wrapper
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()

                .product-catalog__buttons
                    a(href="#").button Посмотреть все наборы коллекции
                    a(href="#").button В каталог


        .product-catalog.product-catalog--small-offset.product-catalog--background-red
            .layout
                .heading.heading--color-white.heading--center
                    h2.heading__title Деревянные пазлы DAVICI — лучший подарок

                .tabs
                    .tabs__toggle-buttons.tabs__toggle-buttons--el-2
                        .tabs__toggle-button.tabs__toggle-button--tab-item.tabs__toggle-button--active Коллекция N1
                        .tabs__toggle-button.tabs__toggle-button--tab-item Коллекция N2
                        .tabs__toggle-button.tabs__toggle-button--tab-item Коллекция N3
                    .tabs__toggle-items.tabs__toggle-items--el-2
                        .tabs__toggle-item.tabs__toggle-item--active
                            #id1.masonry-grid
                                .masonry-grid__item
                                    .content-box 1
                                .masonry-grid__item
                                    .content-box 2
                                .masonry-grid__item
                                    .content-box 3
                                .masonry-grid__item
                                    .content-box 4
                                .masonry-grid__item
                                    .content-box 5
                                .masonry-grid__item
                                    .content-box 6
                                .masonry-grid__item
                                    .content-box 7
                                .masonry-grid__item
                                    .content-box 8
                                .masonry-grid__item
                                    .content-box 9
                                .masonry-grid__item
                                    .content-box 10
                                .masonry-grid__item
                                    .content-box 11
                            .product-catalog__wrapper(style='display:none')
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItemSlider("product-item--style-white")
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            #id2.masonry-grid
                                .masonry-grid__item
                                    .content-box 2
                                .masonry-grid__item
                                    .content-box 2
                                .masonry-grid__item
                                    .content-box 3
                                .masonry-grid__item
                                    .content-box 4
                                .masonry-grid__item
                                    .content-box 5
                                .masonry-grid__item
                                    .content-box 6
                                .masonry-grid__item
                                    .content-box 7
                                .masonry-grid__item
                                    .content-box 8
                                .masonry-grid__item
                                    .content-box 9
                                .masonry-grid__item
                                    .content-box 10
                                .masonry-grid__item
                                    .content-box 11
                            .product-catalog__wrapper(style='display:none')
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                                .product-catalog__col
                                    +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .tabs__toggle-item
                            #id3.masonry-grid
                                .masonry-grid__item
                                    .content-box 3
                                .masonry-grid__item
                                    .content-box 2
                                .masonry-grid__item
                                    .content-box 3
                                .masonry-grid__item
                                    .content-box 4
                                .masonry-grid__item
                                    .content-box 5
                                .masonry-grid__item
                                    .content-box 6
                                .masonry-grid__item
                                    .content-box 7
                                .masonry-grid__item
                                    .content-box 8
                                .masonry-grid__item
                                    .content-box 9
                                .masonry-grid__item
                                    .content-box 10
                                .masonry-grid__item
                                    .content-box 11
                            .product-catalog__wrapper(style='display:none')
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()
                                .product-catalog__col
                                    +productItemSlider()

                //.tabs
                //    .tabs__toggle-buttons.tabs__toggle-buttons--el-2
                //        .tabs__toggle-button.tabs__toggle-button--active Коллекция N1
                //        .tabs__toggle-button Коллекция N2
                //        .tabs__toggle-button Коллекция N3
                //    .tabs__toggle-items.tabs__toggle-items--el-2
                //        .tabs__toggle-item.tabs__toggle-item--active Content 1
                //        .tabs__toggle-item Content 2
                //        .tabs__toggle-item Content 3


        .product-catalog.product-catalog--small-offset.product-catalog--background-black.product-catalog--overflow-hide
            .layout.layout--large

                .heading.heading--color-brown.heading--center
                    h2.heading__title.heading__title--border Коллекция «Эрмитаж»
                    p.heading__desc Премиальная коллекция DAVICI «Эрмитаж» создана по мотивам шедевров живописи Государственного Эрмитажа. #[br]В ней представлены известные экспонаты музея - шедевры Да Винчи, Рембрандта, Ван Гога, Гогена, Кандинского, Снейдерса, Микеланджело, Караваджо, Ренуара, Малевича.

                .collection-slider.collection-slider--full
                    .collection-slider__init
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                    .collection-slider__navigation
                        button.collection-slider__navigation-button.collection-slider__navigation-button--prev.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>
                        button.collection-slider__navigation-button.collection-slider__navigation-button--next.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>

                .collection-slider
                    .collection-slider__init
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider("product-item--style-white")
                        .collection-slider__item
                            +productItem("product-item--style-white", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)

                    .collection-slider__navigation
                        button.collection-slider__navigation-button.collection-slider__navigation-button--prev.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>
                        button.collection-slider__navigation-button.collection-slider__navigation-button--next.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>

        .product-catalog.product-catalog--default-offset.product-catalog--overflow-hide
            .layout
                .heading.heading--center
                    h2.heading__title.heading__title--border Коллекция "Знаки Зодиака"
                    p.heading__desc Рекордный по количеству реализованных идей проект DAVICI. Уникальный по масштабу: более 150 вовлеченных в одноименный конкурс художников-графиков. У каждого знака зодиака свой автор. У каждой схемы – непредсказуемое, стилистически разное и креативное исполнение.

                .collection-slider.collection-slider--full
                    .collection-slider__init
                        .collection-slider__item
                            +productItemSlider()
                        .collection-slider__item
                            +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider()
                        .collection-slider__item
                            +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider()
                        .collection-slider__item
                            +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                        .collection-slider__item
                            +productItemSlider()
                        .collection-slider__item
                            +productItem("", "src/blocks/product-item/assets/img/product-item1.jpg", "Акция", "-20%", true, "Коллекция №25", true)
                    .collection-slider__navigation
                        button.collection-slider__navigation-button.collection-slider__navigation-button--prev.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>
                        button.collection-slider__navigation-button.collection-slider__navigation-button--next.
                            <svg id="arrow" viewBox="0 0 8 14"><path d="M6.976.696a.6.6 0 1 1 .848.849l-5.94 5.94a.6.6 0 0 1-.848-.849l5.94-5.94z"></path><path d="M1.036 7.485a.6.6 0 0 1 .849-.849l5.94 5.94a.6.6 0 0 1-.85.848l-5.939-5.94z"></path></svg>

        include ../blocks/instagram/instagram