extends ../templates/main

block variables
    - var title = 'XDLE'

include ../blocks/input/input

include ../blocks/quantity/quantity

block content

    main.main
        .section.section--offset-bottom.profile
            .layout
                .profile__wrapper
                    .profile__sidebar
                        .profile__user-name Sergey
                        .profile__list
                            a(href="#").profile__link.profile__link--active Личная информация
                            a(href="#").profile__link Мои заказы
                            a(href="#").profile__link Выйти

                    .profile__main
                        .profile__col
                            .heading
                                h3.heading__title.heading__title--inside Адрес доставки
                            .profile__item
                                +input("text", "placeholder", "profile__input", "First Name")
                            .profile__item
                                +input("text", "placeholder", "profile__input", "+7 925 777 77 77")
                            .profile__item
                                +input("text", "placeholder", "profile__input", "mypost@gmail.com")
                            .profile__item
                                button(disabled).button.button--gray Сохранить изменения

                        .profile__col
                            .heading
                                h3.heading__title.heading__title--inside Сменить пароль
                            .profile__item
                                +input("text", "Старый пароль", "profile__input", "")
                            .profile__item
                                +input("text", "Новый пароль", "profile__input", "")
                            .profile__item
                                button(disabled).button.button--gray Сохранить изменения

                        .profile__col
                            .heading
                                h3.heading__title.heading__title--inside Дополнительная информация
                            .profile__item
                                +input("text", "Пол", "profile__input", "")
                            .profile__item
                                +input("date", "", "profile__input", "")
                            .profile__item
                                +input("text", "Город", "profile__input", "")
                            .profile__item
                                button(disabled).button.button--gray Сохранить изменения

                        .profile__col
                            .heading
                                h3.heading__title.heading__title--inside Дети
                            .profile__item
                                +input("text", "Имя", "profile__input", "")
                            .profile__item
                                +input("date", "", "profile__input", "")
                            .profile__item
                                button(disabled).button.button--gray Сохранить изменения

