@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.quantity {
  display: flex;
  border-radius: 20px;
  background: #f0f0f0;
  user-select: none;
  width: 100%;
  min-width: 100px;
  height: 40px;

  &__input {
    width: 100%;
    height: 38px;
    margin: 0 5px;
    outline: 0;
    border: 0;
    background-color: transparent;
    -webkit-appearance: none;
    text-align: center;

    padding: 2px 0;
    font-size: 13px;
    @include fm();
    color: #1b1b1b;
  }

  &__plus,
  &__minus {
    position: relative;
    min-width: 25px;
    height: 100%;
    padding: 5px;
    cursor: pointer;

    &:after,
    &:before {
      position: absolute;
      content: '';
      @include absolute-fill();
      @include absolute-center();
      @include trn(.2s);
      background-color: #1b1b1b;
    }

    &:after {
      width: 2px;
      height: 12px;
    }

    &:before {
      width: 12px;
      height: 2px;
    }
  }

  &__plus {
    margin-right: 5px;
  }

  &__minus {
    margin-left: 5px;
    &:after {
      display: none;
    }
  }

}