.social-menu.social-menu--offset-left
    a(href="#").social-menu__link
        img(src="src/blocks/social-menu/assets/img/icon-facebook.svg").social__image
    a(href="#").social-menu__link
        img(src="src/blocks/social-menu/assets/img/icon-vk.svg").social__image
    a(href="#").social-menu__link
        img(src="src/blocks/social-menu/assets/img/icon-instagram.svg").social__image
    a(href="#").social-menu__link
        img(src="src/blocks/social-menu/assets/img/icon-youtube.svg").social__image