@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";
@import "~tiny-slider/src/tiny-slider";

.slider-main__wrapper {
  position: relative;

  .tns-nav {
    display: flex;
    position: absolute;
    bottom: 55px;
    left: 15px;
    z-index: 10;

    button {
      min-width: 60px;
      height: 2px;
      margin: 5px 0;
      padding: 0;
      border: 0;
      outline: 0;
      background: #fff;
      opacity: .3;

      &.tns-nav-active {
        opacity: 1;
      }
    }
  }
}

.slider-main {
  background: #4daed9;

  &__item {

  }

  &__layout {
    display: flex;

    @include table-large-screen {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__content {
    width: 50%;
    padding-top: 84px;
    padding-bottom: 82px;

    @include table-large-screen {
      width: 100%;
      max-width: 600px;
      padding-top: 10px;
      padding-bottom: 50px;
    }
  }

  &__category {
    max-width: 100%;
    margin-bottom: 5px;
    text-transform: uppercase;
    font: 13px/1 $fm;
    letter-spacing: -.03em;
    color: #00a500;
  }

  &__title {
    display: block;
    text-decoration: none;
    max-width: 100%;
    margin-bottom: 37px;
    font-family: $fm;
    @include font-size(24px, 48px, 768px, 1800px);
    //@include line-height(42px, 64px, 480px, 1800px);
    letter-spacing: -.03em;
    color: #fff;

    @include table-large-screen {
      margin-bottom: 14px;
    }
  }

  &__description {
    max-width: 100%;
    font: 17px/1.2 $fm;
    color: #fff;
    @include mobile-big-screen {
      font-size: 13px;
      line-height: 1.3;
      letter-spacing: -.03em;
    }
  }

  &__image-block {
    width: 50%;
    display: flex;
    margin: 20px 0 0 30px;
    position: relative;
    max-height: 530px;
    max-width: calc(((100% + 30px) / 12 * 7) - 30px);
    min-width: calc(((100% + 30px) / 12 * 5) - 30px);
    flex-shrink: 0;

    @include table-large-screen {
      width: 100%;
      max-width: 600px;
      margin: 0;
    }
  }

  &__image {
    max-width: 100%;
    margin: auto;
  }
}

.slider-main__controls {
  position: absolute;
  margin: 0 auto;
  display: flex;
  bottom: 55px;
  left: 0;
  width: 100%;
  z-index: 10;

  @include table-large-screen {
    bottom: 15px;
  }

  &-layout {

  }

  &-button {
    min-width: 60px;
    height: 2px;
    margin: 5px 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #fff;
    opacity: .3;
    cursor: pointer;

    &.tns-nav-active {
      opacity: 1;
    }
  }
}