.slider-main__wrapper
    .slider-main
        .slider-main__item
            .layout.slider-main__layout
                .slider-main__content
                    .slider-main__category Новинка
                    .slider-main__title Лимитированная коллекция WWF России
                    .slider-main__description Уникальная коллекция деревянных пазлов, посвященная редким и исчезающим видам животных
                .slider-main__image-block
                    img(src="src/blocks/slider-main/assets/img/slider-maim-1.png").slider-main__image
        .slider-main__item
            .layout.slider-main__layout
                .slider-main__content
                    .slider-main__category Новинка
                    .slider-main__title Лимитированная коллекция WWF России
                    .slider-main__description Уникальная коллекция деревянных пазлов, посвященная редким и исчезающим видам животных
                .slider-main__image-block
                    img(src="src/blocks/slider-main/assets/img/slider-maim-2.png").slider-main__image
        .slider-main__item
            .layout.slider-main__layout
                .slider-main__content
                    .slider-main__category Новинка
                    .slider-main__title Лимитированная коллекция WWF России
                    .slider-main__description Уникальная коллекция деревянных пазлов, посвященная редким и исчезающим видам животных
                .slider-main__image-block
                    img(src="src/blocks/slider-main/assets/img/slider-maim-3.png").slider-main__image
        .slider-main__item
            .layout.slider-main__layout
                .slider-main__content
                    .slider-main__category Новинка
                    .slider-main__title Лимитированная коллекция WWF России
                    .slider-main__description Уникальная коллекция деревянных пазлов, посвященная редким и исчезающим видам животных
                .slider-main__image-block
                    img(src="src/blocks/slider-main/assets/img/slider-maim-4.png").slider-main__image

    .slider-main__controls
        .layout.slider-main__controls-layout
            .slider-main__controls-wrapper
                button.slider-main__controls-button
                button.slider-main__controls-button
                button.slider-main__controls-button
                button.slider-main__controls-button