// Example

.filter__item
    .filter__item-title Количество деталей
    .range-slider__quantity-wrapper
        .range-slider__quantity.range-slider__quantity--min
        span.range-slider__separator
        .range-slider__quantity.range-slider__quantity--max
    .range-slider