@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

$buttonProductWrapper: '.product-item__button';
$productImage: '.product-item__image';
$sliderWrapper: '.product-item__slider-wrapper';

$ratingStar: '.rating__item-star';

$productName: '.product-item__name';

$priceCurrent: '.product-item__price-current';
$priceOld: '.product-item__price-old';

.product-item {
  position: relative;
  max-width: 285px;
  min-width: 200px;
  margin: 0 auto;

  &--style-white {
    #{$productName},
    #{$priceCurrent},
    #{$priceOld} {
      color: #fff;
    }

    #{$ratingStar} {
      fill: #fff;
    }

    .button {
      color: #fff;
      background-color: transparent;
      border: 1px solid #fff;

      &:hover {
        background: #FFFFFF;
        color: #1b1b1b;
      }
    }

    .links {
      color: #fff;
      &:hover {
        border-color: #FFFFFF;
      }
    }
  }

  &:hover {
    #{$buttonProductWrapper} {
      opacity: 1;
      visibility: visible;
    }
  }

  &:hover {
    #{$productImage} {
      box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    }

    #{$sliderWrapper} {
      box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    }
  }

  &__slider-wrapper {
    position: relative;
    display: block;
    min-height: 100px;
    overflow: hidden;
    border-radius: 10px;
    @include trn(.25s)
  }

  &__slider {
    display: block;
  }

  &__slider-element {
    font-size: 0;
  }

  &__slider-image {
    max-width: 100%;
  }

  &__slider-navigate {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tt(0, -50%);
    padding: 0 10px;
    outline: none;
  }

  &__slider-navitem {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    transition: all .3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
    outline: none;
    fill: #FFFFFF;

    &--next {
      right: 10px;
      transform: scale(-1);
    }

    &--prev {
      left: 10px;
    }

    svg {
      width: 8px;
      height: 14px;
    }

  }

  .tns-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 16px;

    button {
      width: 7px;
      height: 7px;
      @include trn(.2s);
      position: relative;
      margin: 5px 7px;
      border: 1px solid #fff;
      background-color: transparent;
      border-radius: 50%;

      &.tns-nav-active {
        background: #FFFFFF;
      }
    }
  }

  &__image-wrapper {
    position: relative;
    display: flex;
  }

  &__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 0;
    fill: transparent;
    stroke: #fff;
    stroke-width: 2;
    @include trn(.2s);

    &--active {
      fill: #FFFFFF;
    }

    &:hover {
      fill: rgba(255, 255, 255, .5);
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  &__label-item {
    position: relative;
    display: inline-flex;
    padding: 1px 6px;
    text-transform: uppercase;
    border-radius: 5px;
    font: 12px/17px $fr;
    letter-spacing: -.03em;
    color: #fff;

    &--action {
      background: #84c200;
    }

    &--discount {
      background: red;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__image {
    position: relative;
    min-height: 100px;
    max-width: 100%;
    overflow: hidden;
    @include brr(10px);
    @include trn(.2s);
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
  }

  &__name {
    display: inline-block;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 5px;
    font: 13px/18px $fr;
    color: #666;
    letter-spacing: -.03em;
  }

  &__price-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font: 15px/21px $fsb;
    letter-spacing: -.03em;
    color: #000;
  }

  &__price-current {
    display: flex;
    flex-wrap: wrap;
    font: 15px/21px $fsb;
    letter-spacing: -.03em;
  }

  &__price-currency {
    margin-left: 2px;
  }

  &__price-old {
    color: #999;
    font-size: 14px;
    text-decoration: line-through;
    margin-left: 6px;
  }

  &__review {
    display: flex;
    justify-content: flex-end;
  }

  &__rating {
    display: flex;

    &--active {
      #{$ratingStar} {
        fill: #ffc200;
      }
    }
  }

  &__rating-star {
    padding-right: 3px;
  }

  &__rating-count {
    margin-left: 3px;
    color: #c4c4c4;
    font-size: 12px;
  }

  &__button {
    margin-top: 11px;
    opacity: 0;
    visibility: hidden;
    @include trn(.2s);

    .button {
      margin-right: 8px;
    }
  }

}
