.banner-preview.banner-preview--big
    img(src="src/blocks/banner-preview/assets/img/banner-image.jpg").banner-preview__image
    +iconSvg('68', '62', '', 'icon__banner-person')
    +iconSvg('52', '77', '', 'icon__banner-giraffe')
    .banner-preview__content
        .banner-preview__desc Эти пазлы особенные — в них каждая деталь уникальна, а вместе они образуют неповторимый узор
        .banner-preview__button-container
            a(href="#").button.button--white-border Смотреть видео