@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

:root {
  --white-color: #fff;
  --black-color: #1c1c1c;
  --gray-light-color: #f9f9f9;
  --gray-middle-color: #e1ddd7;
  --gold-color: #f0b46c;
  --gold-light-color: #B0A192;
  --blue-dark-color: #151723;
}

::selection {
  background: #ccc;
  color: #4f4c66;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  //transition: all 200ms ease-in;
  -webkit-tap-highlight-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: $fr;
  font-weight: 300;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: none;
  margin: 0;
  color: var(--black-color);
  //background: #f5f5f5;
  background: #FFFFFF;
  padding-top: 150px;

  @include table-large-screen {
    padding-top: 70px;
  }
}

button {
  cursor: pointer;
}

b {
  @include fsb();
  font-weight: normal;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3, .h3 {
  font-family: $fm;
  @include font-size(16px, 24px, 768px, 1024px);
  @include line-height(22px, 34px, 768px, 1024px);
}

