$gradient: 'linear-gradient(190.09deg, #D18C4E 3.61%, #FAC075 51.88%, #D18C4E 100.99%)';

$fr: "HeroNew-Regular", sans-serif;
$fm: "HeroNew-Medium", sans-serif;
$fsb: 'HeroNew-SemiBold', sans-serif;

@mixin fr {
  font-family: $fr;
}

@mixin fm {
  font-family: $fm;
}

@mixin fsb {
  font-family: $fsb;
}


@mixin placeholder {
  &::-webkit-input-placeholder {
    @content
  }
  &:-moz-placeholder {
    @content
  }
  &::-moz-placeholder {
    @content
  }
  &:-ms-input-placeholder {
    @content
  }
}

@mixin text-gradient {
  background: #{$gradient};
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--gold-color);
}


// ==============================
// Mixins Custom
// ==============================

@mixin trn($time) {
  transition: all $time ease-out;
}

@mixin brr($rad) {
  border-radius: $rad;
}

@mixin tt($Xposition, $Yposition) {
  transform: translate($Xposition, $Yposition);
}


// ==============================
// Font size mixin
// ==============================

//  default font scale bounding
$font-lock-min: 400px !default;
$font-lock-max: 1000px !default;

//  font-size
@mixin font-size(
  $min,                         // font-size
  $max: null,                   // optional maximum font size
  $lock-min: $font-lock-min,  // optional minimum viewport width
  $lock-max: $font-lock-max   // optional maximum viewport width
) {
  & {
    font-size: $min;
  }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        font-size: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
      }
    }
    @media (min-width: $lock-max) {
      & {
        font-size: $max;
      }
    }
  }
}

// Line Height

@mixin line-height(
  $min,                       // line-height
  $max: null,                 // optional maximum line-height
  $lock-min: $font-lock-min,  // optional minimum viewport width
  $lock-max: $font-lock-max   // optional maximum viewport width
) {

  & {
    line-height: $min;
  }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        line-height: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
      }
    }
    @media (min-width: $lock-max) {
      & {
        line-height: $max;
      }
    }
  }

}

@mixin offset(
  $offset,
  $min,
  $max: null,
  $lock-min: $font-lock-min,
  $lock-max: $font-lock-max
) {

  & { #{$offset}: $min; }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        #{$offset}: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
      }
    }
    @media (min-width: $lock-max){
      & { #{$offset}: $max; }
    }
  }
}

//  strip units helper function
@function num($input) {
  @return $input/($input * 0 + 1);
}


// ==============================
// Custom Mixin Size
// ==============================

//  default font scale bounding
$font-lock-min: 400px !default;
$font-lock-max: 1000px !default;

@mixin offset(
  $offset,
  $min,
  $max: null,
  $lock-min: $font-lock-min,
  $lock-max: $font-lock-max
) {

  & { #{$offset}: $min; }
  @if $max {
    @media (min-width: $lock-min) {
      & {
        #{$offset}: calc(
                #{$min} +
                #{num($max) - num($min)} *
                (100vw - #{$lock-min}) /
                #{num($lock-max) - num($lock-min)}
        );
      }
    }
    @media (min-width: $lock-max){
      & { #{$offset}: $max; }
    }
  }
}

//  strip units helper function
@function num($input) {
  @return $input/($input * 0 + 1);
}


