$gradient: 'linear-gradient(190.09deg, #D18C4E 3.61%, #FAC075 51.88%, #D18C4E 100.99%)';

$fr: "HeroNew-Regular", sans-serif;
$fm: "HeroNew-Medium", sans-serif;
$fsb: "HeroNew-Medium", sans-serif;

@mixin fr {
  font-family: $fr;
}

@mixin fm {
  font-family: $fm;
}

@mixin font-cuprum {
  font-family: 'Cuprum', sans-serif;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

@mixin text-gradient {
  background: #{$gradient};
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--gold-color);
}

