@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #4daed9;
  padding: 20px 0 30px;
  z-index: 800;

  @include table-large-screen {
    padding: 14px 0;
  }

  &--scroll {
    //background: rgba(138, 196, 255, .1);
    //backdrop-filter: blur(10px);
    //box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .1);
    //padding: 25px 0;
  }

  $scroll: '.header__top--scroll';

  &__layout {
    display: flex;
  }

  &__logo {
    width: 180px;
    display: flex;
    align-items: flex-end;
    @include table-large-screen {
      width: 33.3%;
      justify-content: center;
    }
  }

  &__main {
    width: 100%;
    @include table-large-screen {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 33.3%;
    }
  }

  &__main-top {
    display: flex;
    align-items: center;
    margin-bottom: 17px;

    @include table-large-screen {
      display: none;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
  }

  &__menu-list {
    &:not(:last-child) {
      margin-right: 18px;
    }
  }

  &__menu-link {
    transition: opacity .3s ease;
    display: flex;
    font: 15px/1.4 $fm;
    letter-spacing: -.025em;
    text-decoration: none;
    color: #fff;

    &:hover {
      opacity: .6;
    }
  }

  &__menu-icon {
    &--left {
      margin-right: 5px;
    }
  }

  &__menu-submenu {
    display: none;
  }

  &__contact-phone {
    font: 15px/1.4 $fm;
    text-decoration: none;
    color: #fff;
    letter-spacing: -.022em;
    text-align: right;
  }

  &__contact-phone--mobile {
    font: 24px/34px $fm;
  }

  &__contact-mobile {
    display: none;
    width: 100%;
    max-width: 250px;
    align-items: flex-end;
    justify-content: flex-end;
  }

  &__contact-city {
    border-bottom: 1px dashed #FFFFFF;
    font: 15px/1.4 $fm;
    text-decoration: none;
    color: #fff;
    letter-spacing: -.022em;
    text-align: right;

    &:hover {
      border-bottom-color: transparent;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    align-items: flex-end;
  }

  &__main-footer {
    display: flex;
  }

  &__search {
    position: relative;
    width: 100%;
    margin-right: 52px;
    @include table-large-screen {
      display: none;
    }
  }

  &__search-input {
    width: 100%;
    padding: 8px 42px 9px;
    min-width: 0;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: 5px;
    outline: 0;
    font: 15px/1.4 $fm;
    color: #fff;
    background-color: transparent;

    @include placeholder {
      font: 15px/1.4 $fm;
      color: #fff;
    }

    &--blue {
      border-color: rgba(1, 86, 132, .3);
      color: #015684;
      @include placeholder {
        color: rgba(1,86,132,.3) !important;
      }
    }
  }

  &__search-button {
    position: absolute;
    top: 10px;
    left: 12px;
    width: 20px;
    height: 20px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .25s ease-out;

    &:hover {
      opacity: .6;
    }
  }

  &__option-user {
    display: flex;
    align-items: flex-end;
  }

  &__option-link {
    padding: 0 15px;
  }

}

.logo {
  display: block;

  &__image {
    max-width: 110px;
    width: 110px;
  }
}