.product-preview

    .product-preview__image-wrapper
        .product-preview__image-main
            img(src="src/blocks/product-item/assets/img/product-slide10/product-item1.jpg" alt="Product")#product-preview__main-image.product-preview__image

        .product-preview__thumbnails-wrapper

            button.product-preview__thumbnails-arrow.product-preview__thumbnails-arrow--prev
                +mixinSvg('8', '14', 'icon__arrow-slide', 'product-preview__arrow-icon')

            .product-preview__thumbnails-inside
                .product-preview__thumbnails
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item1.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item1.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item3.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item3.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item.product-preview__thumbnail-item--play
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item4.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item4.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item5.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item5.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item1.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item1.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item3.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item3.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item2.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item4.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item4.jpg" alt="Product").product-preview__thumbnail-image
                    .product-preview__thumbnail-item
                        img(src="src/blocks/product-item/assets/img/product-slide10/product-item5.jpg" data-preview="src/blocks/product-item/assets/img/product-slide10/product-item5.jpg" alt="Product").product-preview__thumbnail-image

            button.product-preview__thumbnails-arrow.product-preview__thumbnails-arrow--next
                +mixinSvg('8', '14', 'icon__arrow-slide', 'product-preview__arrow-icon')

        .product-preview__description
            p Художник Денис Серков.
            a(href="#").link.link--pink-hover Скачать оригинал картины для сборки

    .product-preview__detail
        a(href="#").link.link--pink-hover.product-preview__category Коллекция DAVICI Детям
        h1.product-preview__name Корабль сокровищ
        .product-preview__row
            .product-preview__rating
                .rating
                    span.rating__item.product-preview__rating-star
                        +iconSvg('14', '13', '', 'rating__item-star')
                    span.rating__item.product-preview__rating-star
                        +iconSvg('14', '13', '', 'rating__item-star')
                    span.rating__item.product-preview__rating-star
                        +iconSvg('14', '13', '', 'rating__item-star')
                    span.rating__item.product-preview__rating-star
                        +iconSvg('14', '13', '', 'rating__item-star')
                    span.rating__item.product-preview__rating-star
                        +iconSvg('14', '13', '', 'rating__item-star')
                a(href="#").link.product-preview__review 2 отзыва

            a(href="#favorite").link.product-preview__favorite
                +iconSvg('22', '22', '0 0 22 22', 'icon-favorite')
                span.product-preview__favorite-text В избранное

        .product-preview__parametrs
            +productParametr('Автор', 'Денис Серков')
            +productParametr('Уровень сложности', 'Лёгкий уровень')
            +productParametr('Время сборки', '1-3 часа')
            +productParametr('Количество деталей', '60')
            +productParametr('Размер собранной картины', '204х154')
            +productParametr('Артикул', '7-71 - 05 - 060')
            +productParametr('Форма картины', 'Прямоугольный')

        .product-preview__desc Наша бабушка агент: Через целый континент Провезла она товар Сквозь моря и сотню стран.
        .product-preview__price
            | 1 600
            span.product-preview__currency ₽
        .product-preview__button-wrapper
            a(href="#").button.button--blue-big.product-preview__button-add В корзину
            a(href="#").button.button--border-blue.product-preview__button-buy Купить в 1 клик

        .product-preview__delivery-wrapper
            p.product-preview__delivery
                +iconSvg('27', '27', '', 'icon__box')
                | Доставка в #[span.product-preview__delivery-city Омск] — от 2 дней