@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.product-preview {
  display: flex;

  &__slider {
    width: 50%;
    //display: flex;
    //align-items: center;
  }

  &__main {
    max-width: 600px;
    padding: 20px;
    height: 600px;
    border: 1px solid #e5e5e5;

  }


  // Details

  &__detail {
    max-width: 500px;
    margin-top: 58px;
    margin-left: auto;
  }

  &__name {
    margin: 8px 0;
    font-family: $fsb;
    font-size: 48px;
    line-height: 53px;
    letter-spacing: -.03em;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-star {
    svg {
      width: 21px;
      height: 21px;
      fill: #ffc200;
    }
  }

  &__review {
    margin-left: 8px;
  }

  &__favorite {
    display: flex;
    align-items: center;
    margin-left: 40px;

    &:hover {
      .icon-favorite {
        stroke: #484dcd;
      }
    }

    .icon-favorite {
      fill: none;
      stroke: #6b70eb;
      stroke-width: 2px;
      margin-right: 5px;
    }
  }

  &__parametrs {
    margin-top: 17px;
  }

  &__parametr-item {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }

  &__parametr-name {
    position: relative;
    color: #999;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    width: 50%;

    &:after {
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted #999;
      content: '';
      margin: 0 3px 5px;
      flex: 1;
    }
  }

  &__parametr--value {
    font-size: 15px;
    line-height: 21px;
    color: #1b1b1b;
  }

  &__desc {
    color: #1b1b1b;
    font-size: 15px;
    letter-spacing: -.03em;
    margin: 30px 0;
  }

  &__price {
    font-family: $fsb;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -.03em;
    color: #1b1b1b;
  }

  &__currency {
    margin-left: 12px;
  }

  // Button

  &__button-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__button-add {
    width: 57%;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__button-buy {
    width: 100%;
  }

  &__delivery-wrapper {
    margin-top: 31px;
  }

  &__delivery {
    display: flex;
    align-items: center;
    font-family: $fm;
    font-size: 13px;
    line-height: 18px;
    color: #c4c4c4;
    letter-spacing: -.03em;
    .icon__box {
      margin-right: 3px;
      fill: #c4c4c4;
    }
  }

  &__delivery-city {
    display: inline-block;
    color: #6b70eb;
    margin: 0 4px;
  }

}