@import "../../libs/scss/mixins";
@import "../../blocks/base/variables";
@import "../../blocks/base/media-queries";

.product-preview {
  display: flex;

  @include table-large-screen {
    flex-wrap: wrap;
  }

  &__image-wrapper {
    width: 50%;
    max-width: 600px;

    @include table-large-screen {
      width: 100%;
      max-width: 100%;
    }
  }

  &__image-main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 600px;
    border: 1px solid #e5e5e5;

    @include table-large-screen {
      height: auto;
    }
  }

  &__image {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    visibility: visible;
    @include trn(.25s);

    &--hide {
      opacity: 0;
      visibility: hidden;
    }
  }

  // Thumbnails

  &__thumbnails-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
  }

  &__thumbnails-arrow {
    background-color: transparent;
    font-size: 0;
    &--next {
      transform: scale(-1);
    }
  }

  &__arrow-icon {
    @include trn(.2s);
    width: 12px;
    height: 22px;
    fill: #c4c4c4;
  }

  &__thumbnails-inside {
    max-width: 540px;
    width: 100%;
    margin: 0 auto;
  }

  &__thumbnail-item {
    position: relative;
    width: 84px;
    height: 84px;
    cursor: pointer;

    &--play {
      &:after {
        position: absolute;
        @include absolute-center();
        content: '';
        width: 0;
        height: 0;
        border-top: 17px solid transparent;
        border-left: 30px solid #FFFFFF;
        border-bottom: 17px solid transparent;
      }
    }
  }

  &__thumbnail-image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
  }

  &__description {
    margin-top: 20px;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    letter-spacing: -.025em;
    color: #666;
  }

  // Details

  &__detail {
    max-width: 530px;
    margin-top: 58px;
    margin-left: auto;
    padding-left: 30px;

    @include table-large-screen {
      padding-left: 0;
      margin-left: 0;
      max-width: 100%;
    }
  }

  &__name {
    margin: 8px 0;
    font-family: $fsb;
    @include font-size(32px, 48px, 540px, 1024px);
    @include line-height(35px, 53px, 540px, 1024px);
    letter-spacing: -.03em;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__rating {
    display: flex;
    align-items: center;
  }

  &__rating-star {
    svg {
      width: 21px;
      height: 21px;
      fill: #ffc200;
    }
  }

  &__review {
    margin-left: 8px;
  }

  &__favorite {
    display: flex;
    align-items: center;
    margin-left: 40px;

    &:hover {
      .icon-favorite {
        stroke: #484dcd;
      }
    }

    .icon-favorite {
      fill: none;
      stroke: #6b70eb;
      stroke-width: 2px;
      margin-right: 5px;
    }
  }

  &__favorite-text {
    @include mobile-small-screen {
      display: none;
    }
  }

  &__parametrs {
    margin-top: 17px;
  }

  &__parametr-item {
    display: flex;
    margin-top: 5px;
  }

  &__parametr-name {
    position: relative;
    color: #999;
    font-size: 15px;
    line-height: 21px;
    display: flex;
    align-items: flex-end;
    width: 50%;
    padding-right: 20px;

    &:after {
      display: inline-block;
      width: 100%;
      height: 1px;
      border-bottom: 1px dotted #999;
      content: '';
      margin: 0 3px 5px;
      flex: 1;
    }
  }

  &__parametr--value {
    font-size: 15px;
    line-height: 21px;
    color: #1b1b1b;
  }

  &__desc {
    color: #1b1b1b;
    font-size: 15px;
    letter-spacing: -.03em;
    margin: 30px 0;
  }

  &__price {
    font-family: $fsb;
    font-size: 40px;
    line-height: 56px;
    letter-spacing: -.03em;
    color: #1b1b1b;
  }

  &__currency {
    margin-left: 12px;
  }

  // Button

  &__button-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__button-add {
    width: 57%;
    flex-shrink: 0;
    margin-right: 10px;
  }

  &__button-buy {
    width: 100%;
    @include mobile-big-screen {
      font-size: 14px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  &__delivery-wrapper {
    margin-top: 31px;
  }

  &__delivery {
    display: flex;
    align-items: center;
    font-family: $fm;
    font-size: 13px;
    line-height: 18px;
    color: #c4c4c4;
    letter-spacing: -.03em;

    .icon__box {
      margin-right: 3px;
      fill: #c4c4c4;
    }
  }

  &__delivery-city {
    display: inline-block;
    color: #6b70eb;
    margin: 0 4px;
  }

}